{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aboutus</title>
    <link rel="stylesheet" href="{% static 'aboutus.css'%}" />
  </head>
  <body>
    <div class="navbar">
      <h2>Trekker's Spot</h2>
      <a href="feedback">feedback</a>
      <a href="alltreks">all treks</a>
      <a href="contactus">contact us</a>
      <a href="aboutus">about us</a>
      <a href="home">home</a>
    </div>
    <img src="{% static 'pic4.jpg'%}" alt="4thpic" />
    <div class="container">
      <h3>Story behind to make Trekker's Spot</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
        cupiditate ullam doloremque similique, nesciunt soluta? Magnam saepe
        doloribus quis rem numquam aperiam. Rerum nisi aliquam amet dolores.
        Libero, aliquam necessitatibus? Animi, laudantium expedita, temporibus
        voluptate quae officiis minus quibusdam, rerum eligendi repellendus
        fugit ipsum. Vitae sint ea quia et voluptates iusto natus maiores.
      </p>
      <div class="box box1"><img src="{% static 'picS.jpg'%}" alt="a balloon" /></div>

      <h3>Our Team</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ducimus
        mollitia ipsam ipsa doloremque autem nihil, ad corrupti saepe architecto
        repellat tempora sint voluptatum quasi dignissimos animi fuga. Magnam
        sint itaque, totam molestias eius ea ratione quos laudantium aliquam
        fuga blanditiis vero quisquam dignissimos suscipit. Quisquam animi porro
        ducimus dolores eveniet dicta nam cupiditate inventore dolore aliquam
        unde, recusandae maiores repellat ullam nemo at quibusdam error beatae,
        illo voluptatibus quos.
      </p>
      <div class="box box2"><img src="{% static 'picT.jpg'%}" alt="a balloon" /></div>
    </div>

    <div class="bg_text">
      <h1 style="font-size: 50px">About Trekker's Spot</h1>
    </div>
    <footer>
      <p>
        "Look deep into nature and you will understand everything better." -
        Albert Einstein
      </p>
    </footer>
  </body>
</html>
