{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aboutus</title>
    <link rel="stylesheet" href="{% static 'contactus.css'%}" />
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  </head>
  <body>
    <div class="navbar">
      <h2>Trekker's Spot</h2>
      <a href="feedback">feedback</a>
      <a href="alltreks">all treks</a>
      <a href="contactus">contact us</a>
      <a href="aboutus">about us</a>
      <a href="home">home</a>
    </div>
    <img src="{% static 'pic3.jpg'%}" alt="2ndpic" />
    <div class="container">
      <p>
        <strong>Call Us:-</strong><br />
  
        To speak to us directly, call us on
        <strong>080-468-01269 </strong> experts available on the phone on all days
        until 8.30 PM (including Sundays).
      </p>
      <p>
        <strong>Write To Us:-</strong><br />
  
        To get in touch via email, write to us on
        <strong>info@trekker'sspot.com </strong>’ll write back to you within 12
        hours.
      </p>
      <p>
        <strong>Meet Us:-</strong> We also love meeting trekkers. If you wish to
        meet us, feel free to drop by at our office on any weekday (no prior
        notice required). We are based in <strong>Apolo Tower Vijay Nagar Indore</strong>
      </p>
      <p><strong>Follow Us:-</strong></p>
  
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/i/flow/login" class="fa fa-twitter"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    </div>
    <div class="bg_text">
      <h1 style="font-size: 50px">Get in Touch</h1>
    </div>
    <footer>
      <p>
        "Look deep into nature and you will understand everything better." -
        Albert Einstein
      </p>
    </footer>
  </body>
</html>
